@media screen and (max-width:1199px) {
    .aside {
        left: -270px;
    }

    .main-content {
        padding: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}



@media screen and (max-width:991px) {
    


    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }

    .contact .contact-info-item,
    .portfolio .portfolio-item,
   .services .service-item{
    flex: 0 0 50%;
    max-width: 50%;
   }

}


@media screen and (max-width:768px) {
     .contact .contact-form .col-6,
     .contact .contact-info-item,
     .portfolio .portfolio-item,
     .services .service-item,
     .about .experience,
    .education,
     .about .about-content .skills,
    .about .about-content .personal-info{
        flex:0 0 100%;
        max-width: 100%;
    }

}


@media screen and (max-width:425px) {



    .about .about-content .personal-info .info-item{
        flex:0 0 100%;
        max-width: 100%;
    }

}

